@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0f;
  --foreground: #999597;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0f;
    --foreground: #999597;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}